<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Welcome to the Event Driven Programming Django App</h1>
        <div class="text-center mt-4">
            <a href="{% url 'students_index' %}" class="btn btn-primary">Students</a>
            <a href="{% url 'courses_index' %}" class="btn btn-info">Courses</a>
        </div>
    </div>
</body>
</html>
